<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="logo" href="#">
        <img src="images/logo.png" alt="">
      </a>
      <nav class="menu">
        <div class="menu__btn">
          <div class="line-menu half start-top"></div>
          <div class="line-menu"></div>
          <div class="line-menu half end"></div>
        </div>
        <ul class="menu__list">
          <li class="menu__list-item menu__list-forum">
            <a class="menu__list-link" href="#">
              ფორუმი
            </a>
          </li>
          <li class="menu__list-item menu__list-donate">
            <a class="menu__list-link" href="donate.html">
              დონაცია
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>