<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="logo" href="#">
        <img src="images/logo.png" alt="">
      </a>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__list-item">
            <a claass="menu__list-link" href="#">
              ფორუმი
            </a>
          </li>
          <li class="menu__list-item">
            <a claass="menu__list-link" href="#">
              დონაცია
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>